@import "../help/variables";
@import "../help/mixins";

.grid-page-wrap.contact-page {
  .main-section {
    .flex-column-space-around();
    text-align: center;
    padding: 50px 20px;
    h1 {
      margin: 10px;
    }
    .contact-form {
      .flex-center-column;
      textarea {
        min-width: 200px;
        max-width: 350px;
        max-height: 400px;
      }
      .form-info {
        font-size: 0.9em;
      }
    }
    .contact-data {
      .flex-center-column;
      a[href^="tel:"] {
        margin: 10px;
        transition: all .3s;
        &:hover {
          color: @secondaryFontColor;
        }
        &::before {
          content: "\260e";
          margin-right: 0.5em;
        }
      }
    }
  }
}