<footer class="footer">
    <div class="footer-content">
        <span>2020</span>
        <i class="fa fa-copyright" aria-hidden="true"></i>
        <span>Гитары Chapman в Беларуси. Все права защищены</span>
    </div>
</footer>