<div class="grid-page-wrap page-404">
    {{>header}}
    <section class="main-section">
        <h1 class="section-header">Ошибка 404 - мы не смогли найти то, что вы искали!</h1>
        <img class="img-404" src="/static/images/design/404.png"/>
    </section>
    {{>menu activeMenuItem}}
    {{>footer}}
</div>