<script defer src="/static/js/artist-page-toggle-description.js"></script>
<div class="grid-page-wrap artists-page">
    {{>header}}
    <section class="main-section">
        <h1 class="section-header">Артисты бренда Champan Guitars</h1>
        {{#each artists}}
        <div class="artist-section">
            <div class="artist-name">
                <a href="artist/{{this.uri}}" class="artist-name-link">{{this.name}}</a>
            </div>
            <img class="artist-photo" src="/uploads/{{this.photo}}" alt="{{this.name}}">
        </div>
        {{/each}}
    </section>
    {{>menu activeMenuItem}}
    {{>footer}}
</div>