<script defer src="/js/main-page-slider.js"></script>
<div class="grid-page-wrap main-page">
    {{>header}}
    <section class="main-section">
        {{#each images}}
        <div class="image-item {{#unless @index}}current-image{{/unless}}"
            style="background-image: url(/uploads/{{this.src}})">
        </div>
        {{/each}}
        <div class="main-page-message">
            <a href="/guitars">Гитары Chapman в Беларуси</a>
        </div>
    </section>
    {{>menu activeMenuItem}}
    {{>footer}}
</div>