@import "../help/variables";
@import "../help/mixins";

.grid-page-wrap.artists-page {
  .main-section {
    .section-header {
      grid-column: span 4;
      text-align: center;
    }
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 70px 30px 30px;
    .artist-section {
      display: flex;
      flex-direction: column;
      .artist-name {
        width: 100%;
        text-align: center;
        padding: 10px;
        h2 {
          display: inline-block;
          cursor: pointer;
          transition: all .3s;
          &:hover {
            color: @secondaryFontColor;
            transform: scale(1.1);
          }
        }
      }
      .artist-photo {
        width: 100%;
        border-radius: 15px;
        transition: all .3s;
        box-shadow: 0 3px 3px 0 @secondaryColor;
        cursor: pointer;
      }
      &:hover .artist-photo {
        box-shadow: 0 3px 10px 1px @secondaryColor;
      }
      .artist-description {
        padding: 15px;
        transition: all .5s;
        transform: scale(0) translateY(-50%);
        opacity: 0;
        max-height: 0;
        &.visible {
          transform: scale(1) translateY(0);
          opacity: 1;
          max-height: 170px;
        }
      }
    }
  }
}